<!-- Validation failure messages -->
<% if @dishesbyvenue.errors.any? %>
  <% @dishesbyvenue.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Dishesbyvenue</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_dishesbyvenue" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for venueid -->
      <div class="form-group">
        <label for="venueid" class="control-label">
          Venueid
        </label>

        <input type="text" id="venueid" name="venueid" placeholder="Venueid" class="form-control" value="<%= @dishesbyvenue.venueid %>">
      </div>

      <!-- Label and input for dishid -->
      <div class="form-group">
        <label for="dishid" class="control-label">
          Dishid
        </label>

        <input type="text" id="dishid" name="dishid" placeholder="Dishid" class="form-control" value="<%= @dishesbyvenue.dishid %>">
      </div>

      <button class="btn btn-success">
        Create Dishesbyvenue
      </button>
      or
      <a href="/dishesbyvenues">Cancel</a>
    </form>
  </div>
</div>
